@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
  --main-color: rgb(35, 86, 181);
  --secondary-color: rgb(20, 157, 204);
  --font-color: rgb(255, 255, 255);
  --sub-color: rgb(255, 51, 102);
}
  body {
    font-family: 'Roboto', sans-serif;
  }